// Colors
$header-background: #0ABAB5;
$header-default-color: #FFF;
$header-title-color: #FFF;
$header-subtitle-color: #A9F5F2;

$indecision-background: #CEF6F5;
$button-color: #0ABAB5;
$button-link-color: #A9F5F2;

$widget-header-background: #0ABAB5;
$widget-header-title: #FFF;

$option-err-msg: #086A87;

// Space
$extra-large-space: 4.8rem;
$large-space: 3.2rem;
$mid-space: 1.6rem;
$small-space: 1.0rem;
$extra-small-space: 0.5rem;
$no-space: 0;

// Responsiveness
$desktop-width: 45rem;